body, html{
    height:100%;
    margin:0;
    font-weight:400;
    line-height:1.8em;
    color:grey;
}
  
.image-1, .image-2, .image-3, .image-4, .image-5{
    position:relative;
    opacity:0.6;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}
  
.image-1{
    background-image:url('img/Pic-2.jpg');
    min-height:100%;
}
  
.image-2{
    background-image:url('img/Pic-1.jpg');
    min-height:400px;
}
  
.image-3{
    background-image:url('img/Pic-3.jpg');
    min-height:400px;
}
  
.image-4{
      background-image: url('img/Pic-4.jpg');
      min-height: 400px;
}

.image-5{
    background-image: url('img/pic-5.jpg');
    min-height: 400px;
}

.section{
    text-align:center;
    padding:50px 80px;
}
  
.section-light{
    background-color:orange;
    color: white;
}
  
.section-dark{
    background-color:white;
    color:orange;
}
  
.content{
    position:absolute;
    top:50%;
    width:100%;
    text-align:center;
    color:black;
    font-size:27px;
    letter-spacing:8px;
    text-transform:uppercase;
}

.content .border{
    background-color:blue;
    color:white;
    font-weight: bolder;
    opacity: 0.6;
    padding:20px;
}
  
.content .border.trans{
    background-color:transparent;
}
  
@media(max-width:568px){
    .image-1, .image-2, .image-3{
      background-attachment:scroll;
    }
}
  
